
<style>
    .vertical-nav-bar{
        z-index: 1000;
    }
</style>

<div class="vertical-nav-bar">
    <a href="/">Home<span><i class="fas fa-home"></i></span></a>
    <a class="blog-section-left" href="/posts/allblogs">Blogs<span><i class="fas fa-user-graduate"></i></span></a>
    <!-- <a href="#">Authors<span><i class="fas fa-pencil-alt"></i></span></a> -->
    <!-- <a href="#">Newsletter<span><i class="fas fa-newspaper"></i></span></a> -->
    <a href="/publish">Publish<span><i class="fas fa-pencil-alt"></i></span></a>
    <a href="/aboutus">About Us<span><i class="fas fa-users"></i></span></a>
    <a href="https://www.facebook.com/BackBenchers-105240558097832" target="_blank">Facebook<span><i class="fab fa-facebook-f"></i></span></a>
    <a href="https://www.instagram.com/the.back_benchers_/?igshid=1tkr1g17rzrf5" target="_blank">Instagram<span><i class="fab fa-instagram"></i></span></a>
    <a href="http://linkedin.com/company/thebackbencherscommunity" target="_blank">Linkedin<span><i class="fab fa-linkedin-in"></i></span></a>
    <a href="mailto:theteambackbenchers@gmail.com"  target="_blank">Gmail<span><i class="far fa-envelope"></i></span></a>
    <a href="/query/contactus">Contact Us<span><i class="fas fa-phone-alt"></i></span></a>
</div>