@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'poppins',sans-serif;
}
body{
  font-family: 'Noto Sans TC', sans-serif;
  height: 100vh;
  background: linear-gradient(75deg,#2980b9,#8e44ad);
}
 .popup_box{
  position: relative;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}
.click{
  /* background: #2981bc; */
  color: black;
  /* font-size: 14px; */
  /* font-weight: bold; */
  padding: 10px 15px;
  text-align: center;
  border: 1px solid black;
  position: relative;


    width: 150px;
    height: 40px;
    background: none;
    border-radius: 30px;
    margin-top: 15px;
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    padding: 5px;
}
.popup_box{
  width: 350px;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 104%);
  text-align: center;
  align-items: center;
  padding: 40px;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);
  z-index: 9999;
  display: none;
  border-radius: 10px;
}
.popup_box i{
  font-size: 50px;
  color: #ab2d24;
  border: 5px solid #ab2d24;
  padding: 20px 40px;
  border-radius:50%;
  margin: -10px 0 20px 0;
}
.popup_box h1{
  font-size: 20px;
  color: #1b2631;
  margin-bottom: 5px;
}
.popup_box label{
  font-size: 18px;
  color: #404040;
}
.popup_box .btns{
  margin: 40px 0 0 0;
}
.btns .btn1, .btns .btn2{
  background: #999999;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #808080;
  padding: 5px 10px;
}
.btns .btn2{
  margin-left: 20px;
  background: #ab2d24;
  border: 1px solid #;
  border: 1px solid #ab2d24;
}
.btns .btn1:hover{
  transition: .5s;
  background: #8c8c8c;
}
.btns .btn2:hover{
  transition: .5s;
  background: #e60000;
}

@media screen and (max-width:768px)
{
  .popup_box{
    position: relative;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -105%);
    border-radius: 5px;
  }

  .popup_box{
    width: 350px;
  }

}

@media screen and (max-width:426px)
{
  .popup_box{
    position: relative;
    top: -30%;
    left: 50%;
    transform: translate(-50%, -105%);
    border-radius: 5px;
  }

  .popup_box{
    width: 315px;
  }

  .popup_box i
  {
    font-size: 40px;
    border-radius: 90%;
  }
  .popup_box h1{
    font-size: 15px;
  }
  .popup_box label{
    font-size: 14px;
  }
  .btns .btn1, .btns .btn2{
    font-size: 10px;
    padding: 5px 10px;
  }

}