<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!-- aos css file cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">

    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">
    <!-- magnific popup css cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

    <!-- bootstrap cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/stylesheets/about-us-css.css">


    <link rel="stylesheet" type="text/css" href="/stylesheets/review-css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"/>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    

<!-- header section starts  -->

<header>

<div class="container">

    <!-- <a href="#" class="logo"><span>H</span>ealth<span>C</span>are.</a> -->
    <a href="/"><img src="/images/5.png" alt=""  height="60rem" width="180rem"></a>

    <nav class="nav">
        <ul>
            <li><a href="/">home</a></li>
            <!-- <li><a href="#about">about</a></li>
            <li><a href="#facility">facility</a></li>
            <li><a href="#review">review</a></li>-->
            <li><a href="/query/contactus">contact Us</a></li>
            <li><a href="/publish">publish here</a></li>
            
        </ul>
    </nav>

    <div class="fas fa-bars"></div>

</div>

</header>

<!-- header section ends  -->

<!-- home section starts  -->

<section class="home" id="home">

<div class="container">

    <div class="row min-vh-100 align-items-center text-center text-md-left">

        <div class="col-md-6 pr-md-5" data-aos="zoom-in">
            <img src="/images/final_2.png" id="first-pic">
        </div>

        <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
            <h1><span>Knowledge</span> possess <span> no</span> Boundaries.</h1>
            <p id="vision-para">Knowledge Knows No Limits. To nurture minds and democratize the idea of education it is important to know the importance of it. Education is like a passport to the future we desire. We Are Building A Community That Believes In Active Learning And Promotes Education. It Is A Form Of Connected Learning And Is Highly Effective. We Welcome You All To Be A Part Of Our Community And Share Your Knowledge As It Is Rightly Said That Knowledge Increases By Sharing But Not By Saving.</p>
            <a href="#about"><button class="button">Know more</button></a>
        </div>

    </div>

</div>

</section> 


<!-- home section ends -->

<!-- about section start  -->

<section class="about" id="about">

<div class="container">

    <div class="row min-vh-100 align-items-center">

        <div class="col-md-6 content" data-aos="fade-right">

            <h1 id="heading-abt">ABOUT US</h1>

            <div class="box">
                <h3 id="heading-in-abt"><i class="fas fa-graduation-cap"></i>What is BackBenchers?</h3>
                <p> <span id="dots">•</span>	open source educational blogging platform. </p>
            </div>

            <div class="box">
                <h3  id="heading-in-abt"><i class="fas fa-glasses"></i>Our Vision</h3>
                <p>•	to change the education sphere in the world.    <br>
                   •	make it a fun, interactive and affordable place for all.
                </p>
            </div>

            <div class="box">
                <h3  id="heading-in-abt"><i class="fas fa-book"></i>What domains we deal with?</h3>
                <p>•	Business and Economics <br>
                    •	Commerce   <br>
                    •	Engineering <br>
                    •	Personality Development
                </p>
            </div>

            <div class="box">
                <h3  id="heading-in-abt"> <i class="fas fa-crosshairs"></i>Our Mission</h3>
                <p>	•	growing together, as a community. <br>
                    •	invite content writers, bloggers and educators for a 
                         completely new experience. <br>
                    •	build the future of education together. <br>
                    •	educate. enable. empower.  <br>
                    
                </p>
            </div>

        </div>

        <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
            <img src="/images/people _3.png" width="100%" alt="">
        </div>

    </div>

</div>

</section>

<!-- about section ends -->

<!-- facility section starts  -->

<!-- <section class="facility" id="facility">

<div class="container">

<h1 class="heading"><span>'</span> our facilities <span>'</span></h1>

<div class="box-container">

    <div class="box" data-aos="zoom-in">
        <a href="images/img1.jpg" title="our team">
            <img src="images/img1.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img2.jpg" title="our lab">
            <img src="images/img2.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img3.jpg" title="emergency rooms">
            <img src="images/img3.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img4.jpg" title="expert doctors">
            <img src="images/img4.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img5.jpg" title="expert doctors">
            <img src="images/img5.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img6.jpg" title="emergency rooms">
            <img src="images/img6.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img7.jpg" title="expert doctors">
            <img src="images/img7.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img8.jpg" title="emergency rooms">
            <img src="images/img8.jpg" alt="">
        </a>
    </div>

    <div class="box" data-aos="zoom-in">
        <a href="images/img9.jpg" title="enough beds">
            <img src="images/img9.jpg" alt="">
        </a>
    </div>

</div>

</div>

</section> -->

<!-- facility section ends -->

<!-- review section starts  -->

<!-- <section class="review" id="review">

<div class="container">

<h1 class="heading"><span>'</span> people's review <span>'</span></h1>

<div class="box-container">

    <div class="box" data-aos="fade-right">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
        <h3>someone's name</h3>
        <span>jan 5, 2021</span>
        <img src="images/pic1.png" alt="">
    </div>

    <div class="box" data-aos="fade-up">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
        <h3>someone's name</h3>
        <span>jan 7, 2021</span>
        <img src="images/pic2.png" alt="">
    </div>

    <div class="box" data-aos="fade-left">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
        <h3>someone's name</h3>
        <span>jan 10, 2021</span>
        <img src="images/pic3.png" alt="">
    </div>

</div>

</div>

</section> -->

<!-- review section ends  -->

<!-- counter section starts  -->
<!-- 
<section class="counter">

    <div class="container">

        <div class="box-container">

            <div class="box" data-aos="fade-up">
                <i class="fas fa-hospital"></i>
                <span>120+</span>
                <h3>Hospitals</h3>
            </div>

            <div class="box" data-aos="fade-up">
                <i class="fas fa-users"></i>
                <span>100+</span>
                <h3>staff</h3>
            </div>

            <div class="box" data-aos="fade-up">
                <i class="fas fa-smile"></i>
                <span>1200+</span>
                <h3>happy patients</h3>
            </div>

            <div class="box" data-aos="fade-up">
                <i class="fas fa-procedures"></i>
                <span>130+</span>
                <h3>bed facility</h3>
            </div>

        </div>

    </div>

</section> -->

<!-- counter section ends -->

<!-- contact section starts  -->

<!-- <section class="contact" id="contact">

    <div class="container min-vh-100">

        <div class="row justify-content-center">

            <h1 class="heading"><span>'</span> make an appointment <span>'</span></h1>

            <div class="col-md-10" data-aos="flip-down">

                <form action="">

                    <div class="inputBox">
                        <input type="text" placeholder="full name">
                        <input type="number" placeholder="phone">
                    </div>

                    <div class="inputBox">
                        <input type="email" placeholder="your email">
                        <select name="" id="">
                            <option value="" disabled selected>make an appointment</option>
                            <option value="09-11 am">09-11 am</option>
                            <option value="11-03 pm">11-03 pm</option>
                            <option value="03-06 pm">03-06 pm</option>
                            <option value="06-09 pm">06-09 pm</option>
                        </select>
                    </div>

                    <textarea name="" id="" cols="30" rows="10" placeholder="message ( optional )"></textarea>

                    <input type="submit" name="" id="" value="make appointment" class="button">

                </form>

            </div>

        </div>

    </div>

</section> -->

<!-- contact section ends -->

<!-- post section starts  -->

<section class="post" id="post">

    <div class="container min-vh-100">

        <h1 class="heading"><span></span> The Big Four! Why? <span></span></h1>

        <div class="box-container">

            <div class="box" data-aos="fade-right">
                <!-- <img src="images/img2.jpg" alt=""> -->
                <div class="content">
                    <!-- <span>jan 5, 2021</span> -->
                    <a href="#"><h3>ENGINEERING</h3></a>
                   <p>India prides itself on the fact that the country has one of the largest pools of engineers all over the world. These graduates handle a huge range of operations from development and production to quality check and distribution. Despite being one of the largest suppliers of engineers in the world, India’s engineering education is not at par with the global standards and the requirements of the industries.We,at BackBenchers, therefore want this domain to be talked and taught through and through. As global industries are involved, it is important to understand its significance, have conceptual knowledge and have an engineering mindset. Engineering education in India, therefore, needs to evolve, to be able to cater to the demands of industries all over the world and pave way for the new age engineers.</p>
                    <a href="/posts/engineering?page=1"><button class="button">Explore</button></a>
                </div>
            </div>

            <div class="box" data-aos="fade-up">
                <!-- <img src="images/img4.jpg" alt=""> -->
                <div class="content">
                    <!-- <span>jan 5, 2021</span> -->
                    <a href="#"><h3>BUSINESS & ECONOMICS</h3></a>
                   <P>Business and Economics is the cornerstone of several social issues such as inflation, poverty, unemployment, and human rights. Despite vigorous economic expansion, major hurdles widen the economic and business factor across the nation. India is also the most favorable destination for the foreign investors who are willing to start their business in a nation which has a middle class population of 50 millions, but since the resources for economics and business are so limited and not easily accessible, we, at BackBenchers, aim to bring forth the latest studies, research and expertise in problem-solving skills in order to cultivate a rational method of observing and solving problems in our readers. We help people develop the right skill set in order to invest in worthy jobs that’ll maximise their potential and ultimately lead to their growth.</P>
                    <a href="/posts/business-economics?page=1"><button class="button">Explore</button></a>
                </div>
            </div>

            <div class="box" data-aos="fade-left">
                <!-- <img src="images/img5.jpg" alt=""> -->
                <div class="content">
                    <!-- <span>jan 5, 2021</span> -->
                    <a href="#"><h3>COMMERCE</h3></a>
                  <p>Commerce education is the backbone of business, trade and industry. Unlike economics, it gives you a much wider but macro level approach. It stresses on making optimum utilization of available resources. But there is an urgent need to modify its structure in order to cope up with the dynamic environment of businesses today. Commerce students face many problems like lack of resources, finance and interaction between industry and students or institutions. To keep pace with growing complexities, the need of the hour is to ensure appropriate change so that the students opting for it will find a place for themselves in the job market. We, at backbenchers strive to bring its learners world-class quality education with practical based knowledge and students-centered method and skillful technique.</p>
                    <a href="/posts/commerce?page=1"><button class="button">Explore</button></a>
                </div>
            </div>

            <div class="box" data-aos="fade-left">
                <!-- <img src="images/img5.jpg" alt=""> -->
                <div class="content">
                    <!-- <span>jan 5, 2021</span> -->
                    <a href="#"><h3>PERSONALITY DEVLOPMENT</h3></a>
                    <p>Speech and personality development are one of the most important aspects of an individual especially during his/her formative years. Enhancing our communication and speech helps us be better presenters of our ideas.Business is evolving and includes being genuine, authentic and speaking with prospective clients in ways that are new and innovative. You want strategies with real-world application, not fluff ideas that sound nice but leave you empty-handed.
                        These things may not be a part of your educational curriculum but they are equally important and so we, BackBenchers, decided to help you with the courage and tools you need to create a life that’s actually worth living. By working on ourselves and growing to become better individuals, we can uplift those around us and create a more positive planet for everyone.</p>
                    <a href="/posts/personality-development?page=1"><button class="button">Explore</button></a>
                </div>
            </div>

        </div>

    </div>

</section>



























<section class="about" id="about">

    <div class="container">
    
        <div class="row min-vh-100 align-items-center">
    
            <div class="col-md-6 content" data-aos="fade-right">
    
                <h1 id="heading-abt">WHY US</h1>
    
                <div class="box">
                    <!-- <h3><i class="fas fa-graduation-cap"></i>What is BackBenchers?</h3> -->
                    <p> •	brings the perfect win-win opportunity for both you and your learners. <br><br>
                        •	you can share, collaborate, build and learn and ultimately help the community thrive.  <br> <br>
                        •	attach content from a variety of softwares, edit and publish as per your liking.   <br><br>
                        •	learn and grow because you will always be looking for more things to teach your readers.  <br><br>
                        •	give you a sense of recognition that often gets lost.   <br><br>
                        •	only Genuine People that are interested in your content are there on our platform.  <br><br>
                        •	help you extend reach to a newer audience and let you connect with your subscribers.  <br><br>
                        •	we encourage frequent employee recognition and appreciation.   <br><br>
                        </p>
                </div>
    
            </div>
    
            <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
                <img src="/images/2ab_us.png" width="100%" alt="">
            </div>
    
        </div>
    
    </div>
    
    </section>







    <!-- <section class="review" id="review">

        <div class="container">
        
        <h1 class="heading"><span>'</span>Reviews<span>'</span></h1>
        
        <div class="box-container">
        
            <div class="box" data-aos="fade-right">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
                <h3>someone's name</h3>
                <span>jan 5, 2021</span>
                <img src="images/pic1.png" alt="">
            </div>
        
            <div class="box" data-aos="fade-up">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
                <h3>someone's name</h3>
                <span>jan 7, 2021</span>
                <img src="images/pic2.png" alt="">
            </div>
        
            <div class="box" data-aos="fade-left">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur accusantium error numquam dolore atque. Atque totam ad sint ducimus! Maxime!</p>
                <h3>someone's name</h3>
                <span>jan 10, 2021</span>
                <img src="images/pic3.png" alt="">
            </div>
        
        </div>
        
        </div>
        
        </section> -->
























        <section id="trying-review-new">
            <div class="container">
                <div class="section-title">
                    <h2>REVIEWS</h2>
                    <span class="section-separator"></span>
                    <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
                </div>
            </div>
            <div class="testimonials-carousel-wrap">
                <div class="listing-carousel-button listing-carousel-button-next"><i class="fa fa-caret-right" style="color: #fff"></i></div>
                <div class="listing-carousel-button listing-carousel-button-prev"><i class="fa fa-caret-left" style="color: #fff"></i></div>
                <div class="testimonials-carousel">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="testi-avatar"><img src="/images/mansi2.jpeg"></div>
                                    <!-- <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div> -->
                                    <div class="testimonials-text">
                                        <p>Freedom of expression and freedom of learning, these are the two concepts followed by 'BackBenchers'. 
                                            You can gather useful insights on not only your  own subjects but any of the 4 wide subjects. 
                                            It is really a great learning experience and the articles are authentic too. Hence, it is a wonderful initiative to increase our horizon of knowledge and I am really looking forward to read more and more.</p>
                                        <a href="#" class="text-link"></a>
                                        <div class="testimonials-avatar">
                                            <h3>Mansi Goyal</h3>
                                            <h4>Final year, Bcom Hons, LSR DU</h4>
                                        </div>
                                    </div>
                                    <!-- <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>  -->
                                </div>
                            </div>

        
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="testi-avatar"><img src="/images/leeza.jpeg"></div>
                                    <!-- <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div> -->
                                    <div class="testimonials-text">
                                        <p> "The Back Benchers Community" Is A Complete Package In Its Own.  The Good Point Is That You Can Post Your Views In Any Field Including Commerce, Engineering, Personality Development Etc. The Blogs Posting Feature Is A Bit Different And Very Precise. Here You Can Have Content That Is Complete And Abundant.   It's A Great Place And I Feel That The Motive To Come Out With Such A Community Takes In A Lot A Motivation, Dedication And Efforts. The Team Has Done A Great Job.</p>
                                        <a href="#" class="text-link"></a>
                                        <div class="testimonials-avatar">
                                            <h3>leeza Aggarwal</h3>
                                            <h4>Automation Engineer</h4>
                                        </div>
                                    </div>
                                    <!-- <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>  -->
                                </div>
                            </div>
                           
        

                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="testi-avatar"><img src="/images/sd.png"></div>
                                    <!-- <div class="testimonials-text-before"><i class="fa fa-quote-right"></i></div> -->
                                    <div class="testimonials-text">
                                        <p> The concept of this platform is very unique in itself. It is something that will change the education industry and its working methodology by filling a void that has been there for a long time. This platform is the future of ed-tech. I congratulate the team behind this and wish them all the best for their future endeavors.</p>
                                        <a href="#" class="text-link"></a>
                                        <div class="testimonials-avatar">
                                            <h3>Animesh</h3>
                                            <h4>Final Year, BE, TIET</h4>
                                        </div>
                                    </div>
                                    <!-- <div class="testimonials-text-after"><i class="fa fa-quote-left"></i></div>  -->
                                </div>
                            </div>

                           
        
                        </div>
                    </div>
                </div>
        
                <div class="tc-pagination"></div>
            </div>
        </section>








        
    
        








<!-- post section ends -->

<!-- footer section starts  -->

<!-- <section class="footer">

    <div class="container">

        <div class="row">

            <div class="col-md-4" data-aos="fade-right">
                <a href="#" class="logo"><span>H</span>ealth<span>C</span>are.</a>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur nemo porro quasi minima consequuntur dolorum, quas amet in autem id?</p>
            </div>

            <div class="col-md-4 text-center" data-aos="fade-up">
                <h3>links</h3>
                <a href="#">home</a>
                <a href="#">about</a>
                <a href="#">facility</a>
                <a href="#">review</a>
                <a href="#">contact</a>
                <a href="#">post</a>
            </div>

            <div class="col-md-4 text-center" data-aos="fade-left">
                <h3>share</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">github</a>
            </div>

        </div>

    </div>

    <h1 class="credit text-center mx-auto">created by <span>mr. web designer</span> | all rights reserved.</h1>

</section> -->

<!-- footer section ends -->




















<!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- magnific popup js link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<!-- aos js file cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

<!-- custom js link  -->
<script src="/javascripts/new-about-us-js.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
  <script src="/javascripts/reviewww-script.js"></script>


<script>

AOS.init({
    duration:800,
    delay:300
});

</script>

</body>
</html>