
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/images/1_logo.png">
    <link rel="stylesheet" href="/stylesheets/error404.css">
    <title>Error 404</title>
</head>
<body>
    <div id="container">
        <div class="content">
            <h2>404 </h2>
            <h4>Oops ! Page not Found</h4>
            <p>The page you are looking for does not exist.</p>
            <a href="/">Back To Home</a>
        </div>
    </div>

    <script src="/javascripts/error-page.js"></script>
    
    
</body>
</html>