<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/publish-personal-info-css.css">
    <link rel="stylesheet"href="/stylesheets/fontawesome-free-5.15.1-web/css/all.css">
    <link rel="stylesheet" href="/stylesheets/notification.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">
    <title>Personal Info</title>
</head>
<body>
  

    <div class="container">

        <nav>
            <!-- <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btnn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label> -->
            <a href="/"><img src="/images/final_2.png" alt="" class="logo-top"></a>
            <!-- <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul> -->
        </nav>

        <div class="form-container">

            <div class="signin-signup">

                <form action="/publish/personal-info" method="POST" class="sign-in-form">


                                                        
<% if(successmessage.length || errormessage.length){ %>
    <div class="alert show showAlert">
        <span class="fas fa-exclamation-circle"></span>
        <% if(successmessage.length){ %>
            <span id="success-message-color" class="msg-alert"><%=successmessage%></span>
        <% } else if(errormessage.length) { %>
            <span id="error-message-color" class="msg-alert"><%=errormessage%></span>
        <% } %>
        <div class="close-btn">
          <span class="fas fa-times"></span>
        </div>
    </div>
    <% } else{ %>
        <div class="alert hide">
            <span class="fas fa-exclamation-circle"></span>
            <span class="msg-alert"></span>
            <div class="close-btn">
              <span class="fas fa-times"></span>
            </div>
        </div>
    <% } %>

                    <h2 class="title">Personal info</h2>

                    <div class="input-field">
                        <i class="fas fa-user"></i>
                    <input type="text" name="info[name]" placeholder="Full name" required>
                    </div>

                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        
                            <input type="date" placeholder="Date of birth" min="1920-12-31" max="2021-12-31" name = "info[date]" required>
                        
                    </div>

                    
        

                

                <select name="info[gender]" class="option" required>
                    <i class="fas fa-user-tie"></i>
                    <option value="">--Please choose an option--</option>
                    <option value="Male" >Male</option>
                    <option value="Female" >Female</option>
                    <option value="Others" >Others</option>
                </select>

                
                

             
               

                <div class="input-field">
                    <i class="fas fa-address-book"></i>
                <input type="text" name="info[phoneNumber]" id="" placeholder="Enter your contact number" required>
                </div>

                   
                <select name="info[profession]" class="option" id="" required>
                    <i class="fas fa-user-tie"></i>
                    <option value="">--Please choose a Profession--</option>
                    <option value="Self Earning">Self Earning</option>
                    <option value="Student">Student</option>
                    <option value="Others">Others</option>
                </select>        
                <!-- </div> -->

                    <input type="submit" value="submit" class="btn solid">
                </form>

            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <img src="/images/Untitled-2.png" class="image" alt="">
            </div>

        </div>
    </div>
    
</body>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/javascripts/pop-alert.js">  </script>


</html>