<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>show all posts of author</title>
    
</head>
<body>
    <% followers.forEach((follower)=>{ %>
        <div><%=follower%></div>
        <br><br>
        
    <% }) %>

</body>
</html>