<%- include("./partials/header1.ejs") %>
<%- include("./partials/header2.ejs") %>
<link rel="stylesheet" href="/stylesheets/team.css">
<h1> page in process...</h1>
<%- include("./partials/footer.ejs") %>
