<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="all-sections-blog-page.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>All sections</title>
</head>
<body>

    <div class="horz-top-nav-bar">
        <div class="nav-bar">
            <img src="../The backbenchers/Images/final_2.png" alt="" class="logo-top" height="50px" width="50px">
        </div>
        <!-- <div class="sign-in-up">
            <p>sign-in/up</p>
        </div> -->
    </div>

    <div class="container">

        <div class="box">
            <img src="../The backbenchers/Images/engineering.png" alt="" class="model">

            <div class="details">
                <img src="../The backbenchers/Images/131 (4) - Copy.png " alt="" class="logo" width="100px" style="height:auto;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit voluptatem praesentium, corporis exercitationem sapiente dolor laboriosam fugiat? Inventore excepturi nostrum nam quis eum facere voluptate fuga unde dolorem cupiditate.</p>

            </div>
        </div>

        <div class="box">
            <img src="../The backbenchers/Images/business.png" alt="" class="model">

            <div class="details">
                <img src="../The backbenchers/Images/Untitled-12 (2).png " alt="" class="logo" width="100px" style="height:auto;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit voluptatem praesentium, corporis exercitationem sapiente dolor laboriosam fugiat? Inventore excepturi nostrum nam quis eum facere voluptate fuga unde dolorem cupiditate.</p>

            </div>
        </div>

        <div class="box">
            <img src="../The backbenchers/Images/personality.png" alt="" class="model">

            <div class="details">
                <img src="../The backbenchers/Images/97 (4) - Copy.png " alt="" class="logo" width="100px" style="height:auto;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit voluptatem praesentium, corporis exercitationem sapiente dolor laboriosam fugiat? Inventore excepturi nostrum nam quis eum facere voluptate fuga unde dolorem cupiditate.</p>

            </div>
        </div>

        <div class="box">
            <img src="../The backbenchers/Images/commerce.png" alt="" class="model">

            <div class="details">
                <img src="../The backbenchers/Images/commerce-bg (4) - Copy.png " alt="" class="logo" width="100px" style="height:auto;">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit voluptatem praesentium, corporis exercitationem sapiente dolor laboriosam fugiat? Inventore excepturi nostrum nam quis eum facere voluptate fuga unde dolorem cupiditate.</p>

            </div>
        </div>

    </div>
    
</body>
</html>