<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BackBenchers</title>
</head>
<body>
  <h1>welcome to dashboard of Mr.<%=currentUser.username%></h1>
  <p><%=JSON.stringify(currentUser)%> is logged in!</p>
  <a href="/myposts">go to my articles</a>
</body>
</html>