<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="POST" action="/posts">
    <div>
      <input type="text" placeholder="title" name="post[title]">
    </div><br>
    <div>
      <textarea name="post[content]" rows="30" cols="50"></textarea>
    </div><br>
    <!-- <div>
      <label>attatch the file here</label>
    <input type="file" name="file">
    </div><br> -->
    <div>
      <input type="text" placeholder="subject" name="post[subject]">
    </div><br>
    
    
    <button type="submit">submit</button>
  </form>
</body>
</html>