<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>publish here</title>
    <!-- <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"> -->
    <link rel="stylesheet" href="/stylesheets/publish-here1.css">
</head>
<body>

    <!-- <div class="horz-top-nav-bar">
        <div class="nav-bar">
            <img src="../The backbenchers/Images/final_2.png" alt="" class="logo-top" height="100px" width="100px">
        </div>
        <!-- <div class="sign-in-up">
            <p>sign-in/up</p>
        </div> -->
    <!-- </div>  -->

    
   

    <div class="container">

        <nav>
            <!-- <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btnn"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label> -->
            <a href="/"><img src="images/final_2.png" alt="" class="logo-top" ></a>
            <!-- <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul> -->
        </nav>
    


        <div class="form-container">

            <div class="signin-signup">

                <form action="/publish/publish-options" method="GET" class="sign-in-form">


                    <h2 class="title">Why publish here?</h2>
                    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ut eos temporibus velit soluta adipisci, maiores rerum harum optio quisquam magnam! Eaque sed corrupti asperiores eum dicta neque ex blanditiis consequuntur velit, quas distinctio! Quo, placeat error exercitationem numquam rem eveniet perspiciatis, repellendus qui hic, in praesentium dolor ad eum veritatis excepturi dolorum ipsam maiores fugit deleniti. Placeat voluptatem eveniet minima amet vel illum reprehenderit asperiores, sed, alias consectetur autem? Cum inventore laboriosam optio ipsum magni quos pariatur, dolores excepturi.</p>
                   <input type="submit" value="publish article -->" class="btn solid">

                </form>

                
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <img src="images/Untitled-4.png" class="image" alt="">
            </div>


        </div>
    </div>
    

    <!-- <script src="/javascripts/app.js"></script> -->
</body>
</html>