

	<% if(currentUser.role === "admin"){ %>
		<% console.log(currentUser) %>
	<form action="/register-user-by-admin" method="POST">
		<input type="text" placeholder="username" name="username">
		<input type="password" placeholder="password" name="password">
		<!-- <input type="date"  name="birthday"> -->
		<input type="email" placeholder="email" name="email">
		
		<input type="text" placeholder="role" name="role">
		<!-- <label for="img">Select image:</label>
		<input type="file"  name="photo" accept="image/*"> -->
		<button type="submit">
			Submit!
		</button>
	</form>
	
<%} %>

