<link rel="shortcut icon" type="image/x-icon" href="/images/final_2.png">
<style>
ul li{
    list-style: none;
}
</style>

<p style="text-align:justify;"><strong><span style="font-family:'Times New Roman';font-weight:bold;font-size:19px;">TERMS OF USE</span></strong></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">You must be at least 13 years old for using our services.</span></li>
</ul>
<p style="margin-left:54.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">An account created on our platform can avail all the services available. The responsibility of account ownership is with the person under whose name it is registered only and not of the company. If used wrongly, it can be terminated with or without notice. If credentials of an account is shared with a third party by the user which we strongly advise against, will be treating it under the registered name only. Any rules violated then would also result in the same actions.&nbsp;</span></li>
</ul>
<p><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">You are free to stop using our services anytime. The account can be deleted anytime wished with the help of our portal. If the account needs to be retrieved, it can also be done by proceeding as mentioned in the dashboard of the site.</span></li>
</ul>
<p style="margin-left:54.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">We reserve the right to suspend or terminate your access to the services with or without notice.</span></p>
<p style="margin-left:54.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Publisher can publish from multiple accounts and channels. The content posted completely demonstrates the views and mentality of the publisher in which company is not involved in validating the facts or checking if the given information is accurate.</span><span style="font-family:'Times New Roman';font-size:14.0000pt;color:rgb(255,0,0);font-size:19px;">&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">If any jurisdiction is claimed on your work at any stage or there is case, then company cannot be created a party. No role of the company is involved in the same.</span></li>
</ul>
<p style="margin-left:54.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<p style="margin-left:54.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<p style="text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<p style="text-align:justify;"><strong><span style="font-family:'Times New Roman';font-weight:bold;font-size:19px;">DATA AND PRIVACY</span></strong></p>
<ul style="list-style-type: undefined;margin-left:26px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">On continuous use of the website; clicking sign in/up, scrolling down, or using any other feature automatically gives your consent to enable cookies on your device. No separate consent would be asked for from the user. To know more about how we use your cookies or data, refer to our&nbsp;</span><em><span style="font-family:'Times New Roman';font-size:14.0000pt;">Privacy Policy</span></em><span style="font-family:'Times New Roman';font-size:14.0000pt;">.</span></li>
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">You may need to register for an account to access some or all of our services. It helps us to keep your account protected and also safeguard your password to the account and keep your account information current. We recommend that you do not share your password with others.</span></li>
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">The database of a user collected by the company either through input or through data tracking gives Company the right to process the information on the first party basis and use them for internal product development, enhancing user experience, market purposes etc. You&rsquo;re responsible for your use of the services and any content you provide, including compliance with applicable laws. It is the right of the company to do the same with or without giving prior notice.</span></li>
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">No data sharing with third party companies, individuals etc. will be done except Google Analytics which is one of the main administrators of the website and company does not consider the same as a third party application. To know more details kindly refer to our&nbsp;</span><em><span style="font-family:'Times New Roman';font-size:14.0000pt;">Privacy Policy</span></em><span style="font-family:'Times New Roman';font-size:14.0000pt;">.</span></li>
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Kindly refer to our&nbsp;</span><em><span style="font-family:'Times New Roman';font-size:14.0000pt;">privacy policy</span></em><span style="font-family:'Times New Roman';font-size:14.0000pt;">&nbsp;for information about how we collect, use, &nbsp; &nbsp; &nbsp; &nbsp; share and otherwise process information about you.</span></li>
</ul>
<p style="text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<p style="text-align:justify;"><strong><span style="font-family:'Times New Roman';font-weight:bold;font-size:19px;">RIGHTS AND OWNERSHIP</span></strong></p>
<ul style="list-style-type: undefined;margin-left:26px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Property Rights/ Intellectual Property Rights of the content uploaded will be with the author as well as the company but it cannot be used further for the benefit of any brand/ individual/ entity which either arises any conflict of interest with the company or the company considers the third party as a competition in any possible way.</span></li>
</ul>
<p style="text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">However, if required to use the content for the above-mentioned purposes, written consent in a physical form signed by whomsoever the right has been assigned to on behalf of the company is necessary.</span></p>
<p style="margin-left:18.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Company reserves the right to delete or disable content (by anyone) alleged to be infringing the intellectual property rights of others, and to terminate accounts of repeat infringers. We reserve the right to suspend or terminate with or without prior notice to the users.&nbsp;</span></li>
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">It is the responsibility of the contributors to take care of the following points:</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">v&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">If the employer of the user possesses the right to intellectual property you create, you can not publish it on BackBenchers.</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">v&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">There is a strict prohibition of downloading and copying the content uploaded.</span></li>
</ul>
<p style="margin-left:54.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<p style="margin-left:54.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<p style="margin-left:18.0000pt;text-align:justify;"><strong><span style="font-family:'Times New Roman';font-weight:bold;font-size:19px;">CONTENT GUIDELINES AND RULES</span></strong></p>
<p style="margin-left:18.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">BackBenchers as a company does not hold any credibility for any of the content posted by anyone rather for its truthfulness or whether it&rsquo;s valid or not.</span></li>
</ul>
<p style="margin-left:18.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Published content or comments posted should not include content spreading hate, referring to religion, politics, hatred against people based on characteristics like race, ethnicity, national origin, age or sex/gender in any negative manner. If done, then company has all the authority to take it down with or without any prior notice also resulting in taking strict action.</span></li>
</ul>
<p style="margin-left:18.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<p style="margin-left:18.0000pt;text-indent:7.2000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">We do not allow content or actions that threaten, encourage, or incite violence, hate speech, adult content, harassment, bullying, threatening or shaming someone, impersonating or misinterpretation of identities or any misleading content. It can&rsquo;t be included in any kind of published content, posted comment etc.</span></li>
</ul>
<ul style="list-style-type: undefined;margin-left:62px;">
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">v&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">For more details on privacy and reputation, kindly refer to the&nbsp;</span><em><span style="font-family:'Times New Roman';font-size:14.0000pt;">rules</span></em><span style="font-family:'Times New Roman';font-size:14.0000pt;">.</span></li>
</ul>
<ul style="list-style-type: undefined;margin-left:80px;">
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Posting copies of private communications between private individuals without the explicit consent of all parties to the communication</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Doxing which includes not only private or obscure information but also aggregation of publicly available information to target, shame, and blackmail or harass someone won&rsquo;t be tolerated.</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;color:rgb(41,41,41);font-size:19px;background:rgb(255,255,255);">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;color:rgb(41,41,41);font-size:19px;background:rgb(255,255,255);">&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">We do not allow posts or accounts that glorify, celebrate, downplay, or trivialize violence, suffering, abuse, or deaths of individuals or groups. This includes the use of scientific or pseudoscientific claims to pathologize, dehumanize, or disempowered others.&nbsp;</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">We do not allow calls for intolerance, exclusion, or segregation based on protected characteristics, nor do we allow the glorification of groups which do any of the above.</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Content that violates others&rsquo; privacy, including sensitive or confidential information such as credit card numbers, social security numbers, non-public phone numbers, physical addresses, email addresses, or other non-public information</span></li>
</ul>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">v&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">&nbsp;We don&rsquo;t allow to post or accounts that engage in the following restricted categories or activity:-</span></li>
</ul>
<ul style="list-style-type: undefined;margin-left:80px;">
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Promotion of harmful conspiracy</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Facilitation of gambling or betting</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Facilitations of buying or selling social media interactions.</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Facilitation of illegal sexual services.</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Posting Duplicate content</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">We do not allow spam on BackBenchers, all spam content will be immediately taken down from our platform.</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Posting content to primarily drive traffic.</span></li>
</ul>
<ul style="list-style-type: undefined;margin-left:62px;">
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">&Oslash;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Scrapping and reporting content from other sources.</span></li>
</ul>
<p style="text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:26px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">It is the moral responsibility of the users to report any misleading, inaccurate, invalid or controversial information which is not in line with the principles of the company.&nbsp;</span></li>
</ul>
<p style="margin-left:18.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:26px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">What are we looking for?</span></li>
</ul>
<ul style="list-style-type: undefined;margin-left:44px;">
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">v&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">The content posted should meet high editorial standards.</span></li>
    <li><span style="font-family:Wingdings;font-size:14.0000pt;">v&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">We want to add value to the reader.</span></li>
</ul>
<p style="margin-left:36.0000pt;text-align:justify;"><span style="font-family:'Times New Roman';font-size:19px;">&nbsp;</span></p>
<ul style="list-style-type: undefined;margin-left:26px;">
    <li><span style="font-family:Symbol;font-size:14.0000pt;">&middot;&nbsp;</span><span style="font-family:'Times New Roman';font-size:14.0000pt;">Apart from the content submitted, we welcome your valuable and honest feedback whether it comes as a positive criticism or encouragement in form of comment, ideas or suggestion you have for our services. Comments which include abusive, harassing or any insensitive language won&rsquo;t be entertained.</span></li>
</ul>