<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>upload form</title>
</head>
<body>
  <form method="POST"  enctype="multipart/form-data" action="/posts/upload/file">
    <span>upload file: </span>
    <input type="file" placeholder="file upload" name="photo"><BR><br>
    <div>
      <input type="submit" value="submit">
    </div>
    
  </form>
</body>
</html>